__pycache__/create_vector_store.cpython-312.pyc
FAISS_index*/index.faiss
FAISS_index*/index.pkl
venv/
__pycache__/create_vector_store.cpython-38.pyc
evaluation/FAISS_index_*/index.faiss
evaluation/FAISS_index_*/index.pkl
